## .gitignore file on My Thesis directory


### Do not track final output
*.pdf
*.ps


### Cornell class
cornell.cls.backup
cornell.log
sampleThesis.bib
sampleThesis.tex


### TeX ###
## Core latex/pdflatex auxiliary files:
*.aux
*.lof
*.log
*.lot
*.fls
*.out
*.toc
# *.bbl
*.blg
*.bcf
*.xml

## Synctex files
*.synctex.gz

## Kile backup files
*.backup

## Intermediate documents:
*.dvi
*-converted-to.*


### Editor ###
## Vim & Emacs temp files:
.*sw[op]
*~


### Meld backups ###
*.orig
